<!DOCTYPE html>
<html lang="en">
<head>
    <title>UI PAGE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script>
        
        function redirectTo(url) {
            window.location.href = url;
        }
    </script>
</head>
    <body>
        <header>
        <nav>
            <div class="logo">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcShsN3TtwuyuWAsuvZwXDEXxbn-cjwLHlFreA&usqp=CAU" alt="logo">
            </div>
            <ul>
            <div class="btn-container">
                <a href="/group"><button class="Create"><b>Create</b></button></a>
            </div>
            </ul>
        </nav>
        </header>
        <section class="hero">
            <div class="hero-left">
                <img src="https://img.freepik.com/free-vector/work-team-city_23-2147667841.jpg?w=740&t=st=1705735333~exp=1705735933~hmac=a407531c89adbd4ca65fb6514659655243b556d751939d7297bd5e2a6eb9b670" alt="image on page" />
            </div>
            <div class="hero-right">
                <h1>
                    Empowering <br/>
                    Team Synergy
                </h1>
                <p>
                    Here, you can efficiently organize and manage your groups, <br/>
                    facilitating seamless collaboration and communication.
                </p>
                <br />
            </div>
        </section>
        <section class="feature-menu">
            <div class="feature-1st">
              <img src="https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcQQAAggOzp9dAB8hQV8V5nqDfmR2ZxgIg2gObot3Q80UIDFPCQa" alt="logo" />
              <div class="feature-content">
                <h1>More</h1>
                <p>
                    For more information or to 
                    inquire about using our Group
                    Management System for your organization
                    <br>
                    please contact us:
                </p>
              </div>
            </div>
      
            <div class="feature-1st">
              <img src="https://banner2.cleanpng.com/20180320/xpq/kisspng-business-logo-company-brand-service-icon-about-us-hd-5ab189b00921e3.4487415915215845600374.jpg" alt="logo" />
              <div class="feature-content">
                <h1>About Us</h1>
                <p>
                    Our system is designed to streamline group 
                    collaboration and
                    enhance communication among members.
                </p>
              </div>
            </div>
      
            <div class="feature-1st">
              <img src="https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcQM5Pk3XNtY_LSuKBIQVWJsEnh7Qe_1b3aTGlMFxKaeucO52zd1" alt="" />
              <div class="feature-content">
                <h1>Contact Us</h1>
                <p>
                    If you have any questions or need assistance, please feel free to contact us:            
                    Email: <a href="mailto:info@example.com">info@example.com</a><br>
                    Phone: +1234567890
                </p>
              </div>
            </div>
          </section>
          
      
    </body>
    </html>